$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196F3;
$white-color: #fff;
$black-color: #000;
$page-background: #F5F4FA;
$page-second-background: #E5E5E5;
$footer-background: #2F303A;
$footer-background-soc:rgba(255, 255, 255, 0.1);
$footer-adress: rgba(255, 255, 255, 0.6);
$footer-goit: rgba(255, 255, 255, 0.4);
$portfolio-text-background: rgba(33, 150, 243, 0.9);
$hero-development-background: rgba(47, 48, 58, 0.8);
$soc-color: #AFB1B8;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primary-font-family: Roboto, sans-serif;
$logo-f-f: Raleway, sans-serif;

// Breackpoint
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;